.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 160px;
    height: 50vh;
    width: 80vw;
    box-shadow: 7px 10px 15px 0px rgba(148, 148, 148, 1);
}

.form {
    padding: 10px;
}

.form-input {
    color: red;
}

.form-button {
    padding: 20px;
    border-radius: 20px;
    background-color: cadetblue;
    color: cornsilk;
    font-size: 1.2rem;
    width: 180px;
    margin-top: 30px;
}

h1,
h2,
h3,
h4 {
    color: lightseagreen;
    font-family: monospace;
    line-height: 1;
    font-size: 2.4rem;
    margin-top: 60px;
}

div.text-container {
    height: 50vh;
    width: 40vw;
    box-sizing: border-box;
}